@import url('https://api.fontshare.com/v2/css?f[]=pally@400,700,500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
p {
    font-family: 'Pally', sans-serif;
}


.hero_container {
    height: 300px;
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;
}

.hero_main_text{
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
}

.tab_container{
    height: 200px;
    /* background: red; */
}

.tab_label{
    font-size: 1.1em;
}

.tab_panel{
    min-height: 50vh;
    padding: 50px;
}

@media screen and (max-width: 768px){
    .tab_panel{
        padding: 20px;
    }
}

.character_box{
    min-height: 60vh;
}

.character_card_contain{
    width: 100%;
    border-radius: 10px;
    border: 1px solid;
    overflow: hidden;
    cursor: pointer;
}

.character_image{
    height: 250px;
    /* background: red; */
}

.character_image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.character_name{
    padding: 10px 20px;
}

.character_modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    padding: 20px;
}

.character_modal_overlay{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.character_modal_card{
    width: 320px;
    z-index: 2;
    border-radius: 10px;
    padding: 15px;
}

.character_modal_image{
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
}

.character_modal_image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.character_modal_details{
    margin-top: 15px;
}

.card_skeleton{
    border-radius: 10px;
    overflow: hidden;
}